---
- name: Install the WireGuard package
  ansible.builtin.package:
    name: wireguard
    state: present
  notify: Restart WireGuard
  tags: ansible-role-wireguard

- name: Create the base WireGuard directory
  ansible.builtin.file:
    path: "{{ wireguard_directory }}"
    state: directory
    mode: "0750"
    owner: "{{ wireguard_user }}"
    group: "{{ wireguard_group }}"
  notify: Restart WireGuard
  tags: ansible-role-wireguard

- name: Write WireGuard private key if defined
  ansible.builtin.copy:
    content: "{{ item.private_key }}"
    dest: "{{ wireguard_directory }}/{{ item.network_name }}.key"
    owner: "{{ wireguard_user }}"
    group: "{{ wireguard_group }}"
    mode: "0600"
  notify: Restart WireGuard
  when: item.private_key is defined
  loop: "{{ wireguard_networks }}"
  tags: ansible-role-wireguard

- name: Check if WireGuard private key exists
  ansible.builtin.stat:
    path: "{{ wireguard_directory }}/{{ item.network_name }}.key"
  register: wireguard_private_key
  loop: "{{ wireguard_networks }}"
  tags: ansible-role-wireguard

- name: Generate WireGuard private key if missing
  ansible.builtin.shell: "wg genkey > {{ wireguard_directory }}/{{ item.network_name }}.key"
  when: not wireguard_private_key.results[index].stat.exists
  loop: "{{ wireguard_networks }}"
  loop_control:
    index_var: index
  notify: Restart WireGuard
  tags: ansible-role-wireguard

- name: Set permissions on generated WireGuard private key
  ansible.builtin.file:
    path: "{{ wireguard_directory }}/{{ item.network_name }}.key"
    owner: "{{ wireguard_user }}"
    group: "{{ wireguard_group }}"
    mode: "0600"
  when: not wireguard_private_key.results[index].stat.exists
  loop: "{{ wireguard_networks }}"
  loop_control:
    index_var: index
  tags: ansible-role-wireguard

- name: Read WireGuard private key from file if not defined
  ansible.builtin.slurp:
    src: "{{ wireguard_directory }}/{{ item.network_name }}.key"
  register: wireguard_private_key_content
  when: item.private_key is not defined
  loop: "{{ wireguard_networks }}"
  tags: ansible-role-wireguard

- name: Generate WireGuard public key if undefined
  ansible.builtin.shell: "wg pubkey < {{ wireguard_directory }}/{{ item.network_name }}.key"
  register: wireguard_public_key
  when: item.public_key is not defined
  loop: "{{ wireguard_networks }}"
  tags: ansible-role-wireguard

- name: Print WireGuard public key if generated
  ansible.builtin.debug:
    msg: "Network: {{ item.item.network_name }} - Public Key: {{ item.stdout }}"
  when: (not wireguard_public_key.skipped) and (item.stdout is defined)
  loop: "{{ wireguard_public_key.results }}"
  tags: ansible-role-wireguard

- name: Trigger role failure
  ansible.builtin.fail:
    msg: "Please add the generated WireGuard public key, printed above, to your wireguard_networks variables and re-run"
  when: not wireguard_public_key.skipped
  tags: ansible-role-wireguard

- name: Write WireGuard configuration
  ansible.builtin.template:
    src: wg.conf.j2
    dest: "{{ wireguard_directory }}/{{ item.network_name }}.conf"
    owner: "{{ wireguard_user }}"
    group: "{{ wireguard_group }}"
    mode: "0600"
  notify: Restart WireGuard
  loop: "{{ wireguard_networks }}"
  tags: ansible-role-wireguard
